body {
	
margin: 15em, 15em, 15em, 15em;
background-color: beige; 
}
h1 {

color:black;
text-decoration: underline;
position: center; 
}

h2 {

color: red;
font-size: 18px;
font-weight: bold;
margin-left: 30em;
}


footer {

color: purple;
}

#blog-1 {

position: inline;

}